@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgb(210, 210, 210);
  stroke-width: 1;
}

.axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgb(51, 51, 51);
  stroke-width: 1;
}

a {
  color: #0094ff;
  text-decoration: none;
}

.x text,
.x tspan {
  font-size: 12px;
}

.x line {
  display: none;
}

body {
  padding: 20px;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 20px auto;
  max-width: 840px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  mix-blend-mode: multiply;
  text-rendering: optimizeLegibility;
}

#state-charts {
  margin: 20px 0;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.tooltip {
  background-color: #eee;
  padding: 7px;
}

.total-effective-rate {
  font-size: 11px;
  text-anchor: middle;
}

p {
  margin: 0 0 16px 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 24px 0;
}

table {
  border-collapse: separate;
  border: solid #ddd 1px;
  border-radius: 4px;
  border-left: 0px;
  margin: 25px auto 25px auto;
  width: 100%;
}
table tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

td,
th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
}

th {
  font-weight: 700;
  border-top: none;
}

th:first-child {
  border-radius: 4px 0 0 0;
}

th:last-child {
  border-radius: 0 4px 0 0;
}

th:only-child{
  border-radius: 4px 4px 0 0;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.table-data {
  text-align: right;
}

.not-loaded {
  visibility: hidden;
}

.pick-state {
  background-color: #0094ff;
  border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 22px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.pick-state label {
  margin-right: 15px;
}

.pick-state select {
  color: #0094ff;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background: white;
  background-image: none;
  -webkit-appearance: none;
  border-radius: 4px;
}

.pick-state select:focus {
  outline: none;
}

nav {
  text-align: center;
}
