@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgb(210, 210, 210);
  stroke-width: 1;
}

.axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgb(51, 51, 51);
  stroke-width: 1;
}

.x text,
.x tspan {
  font-size: 12px;
}

.x line {
  display: none;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

#state-charts {
  margin: 20px 0;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.tooltip {
  background-color: #eee;
  padding: 7px;
}
